In [91]:
import os
import pandas as pd
from dotenv import load_dotenv
from binance import Client, ThreadedWebsocketManager, ThreadedDepthCacheManager
import datetime as dt

In [92]:
load_dotenv()
api_key = os.getenv("binance_api")

In [93]:
client = Client(api_key=api_key)

In [94]:
# fetch daily kline
start = dt.datetime(2020,1,1)
end = dt.datetime.now()
timestamp = client._get_earliest_valid_timestamp('BTCAUD', '1d')
print(timestamp)

1596153600000

In [95]:
datetime = dt.datetime.fromtimestamp(1596153600000/1000)
datetime = datetime.date()
print(datetime)

2020-07-31

In [96]:
btc = client.get_historical_klines('BTCAUD', '1d', timestamp, limit=1000)
for line in btc:
    del line[5:]
btc_df = pd.DataFrame(btc, columns=['date', 'open', 'high', 'low', 'close'])
btc_df['date'] = btc_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
btc_df.set_index('date', inplace=True)
print(btc_df.head())

                      open            high             low           close
date
2020-07-31  15250.00000000  16086.12000000  15199.99000000  15985.33000000
2020-08-01  16030.06000000  16727.03000000  15883.64000000  16641.21000000
2020-08-02  16682.68000000  17073.14000000  15230.44000000  15572.34000000
2020-08-03  15576.84000000  16236.38000000  15576.84000000  15901.75000000
2020-08-04  15901.75000000  16139.98000000  15630.39000000  15703.31000000

In [97]:
eth =  client.get_historical_klines('ETHAUD', '1d', timestamp, limit=1000)
for line in eth:
    del line[5:]
eth_df = pd.DataFrame(eth, columns=['date', 'open', 'high', 'low', 'close'])
eth_df['date'] = eth_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
eth_df.set_index('date', inplace=True)
print(eth_df.head())

                    open          high           low         close
date
2020-07-31  457.70000000  491.92000000  457.70000000  488.48000000
2020-08-01  487.28000000  549.63000000  486.55000000  547.24000000
2020-08-02  547.79000000  583.93000000  486.91000000  521.57000000
2020-08-03  519.39000000  562.37000000  517.43000000  546.19000000
2020-08-04  546.43000000  569.46000000  539.08000000  546.43000000

In [98]:
xrp =  client.get_historical_klines('XRPAUD', '1d', timestamp, limit=1000)
for line in xrp:
    del line[5:]
xrp_df = pd.DataFrame(xrp, columns=['date', 'open', 'high', 'low', 'close'])
xrp_df['date'] = xrp_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
xrp_df.set_index('date', inplace=True)
print(xrp_df.head())

                  open        high         low       close
date
2020-08-07  0.41990000  0.45000000  0.15000000  0.41272000
2020-08-08  0.41380000  0.42038000  0.40809000  0.41367000
2020-08-09  0.41440000  0.41566000  0.40465000  0.40465000
2020-08-10  0.40536000  0.42161000  0.40526000  0.41480000
2020-08-11  0.41480000  0.43013000  0.37894000  0.40044000

In [99]:
bnb =  client.get_historical_klines('BNBAUD', '1d', timestamp, limit=1000)
for line in bnb:
    del line[5:]
bnb_df = pd.DataFrame(bnb, columns=['date', 'open', 'high', 'low', 'close'])
bnb_df['date'] = bnb_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
bnb_df.set_index('date', inplace=True)
print(bnb_df.tail())

                    open          high           low         close
date
2022-05-27  426.20000000  433.40000000  407.00000000  421.00000000
2022-05-28  421.40000000  434.30000000  415.30000000  430.50000000
2022-05-29  430.50000000  430.90000000  417.50000000  426.80000000
2022-05-30  427.20000000  450.10000000  424.40000000  447.00000000
2022-05-31  447.10000000  450.80000000  439.30000000  446.40000000

In [100]:
sol = client.get_historical_klines('SOLAUD', '1d', timestamp, limit=1000)
for line in sol:
    del line[5:]
sol_df = pd.DataFrame(sol, columns=['date', 'open', 'high', 'low', 'close'])
sol_df['date'] = sol_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
sol_df.set_index('date', inplace=True)
print(sol_df.tail())

                   open         high          low        close
date
2022-05-27  61.26000000  61.76000000  55.89000000  57.37000000
2022-05-28  57.61000000  63.03000000  56.36000000  62.16000000
2022-05-29  61.81000000  63.80000000  58.44000000  62.62000000
2022-05-30  62.75000000  67.22000000  61.87000000  65.62000000
2022-05-31  65.79000000  67.00000000  63.89000000  65.06000000

In [101]:
ada = client.get_historical_klines('ADAAUD', '1d', timestamp, limit=1000)
for line in ada:
    del line[5:]
ada_df = pd.DataFrame(ada, columns=['date', 'open', 'high', 'low', 'close'])
ada_df['date'] = ada_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
ada_df.set_index('date', inplace=True)
print(ada_df.tail())

                  open        high         low       close
date
2022-05-27  0.67480000  0.67990000  0.62290000  0.63790000
2022-05-28  0.63820000  0.65550000  0.62640000  0.65060000
2022-05-29  0.65050000  0.67320000  0.63750000  0.66980000
2022-05-30  0.67290000  0.80280000  0.66620000  0.79220000
2022-05-31  0.79160000  0.95700000  0.78940000  0.91810000

In [102]:
matic = client.get_historical_klines('MATICAUD', '1d', timestamp, limit=1000)
for line in matic:
    del line[5:]
matic_df = pd.DataFrame(matic, columns=['date', 'open', 'high', 'low', 'close'])
matic_df['date'] = matic_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
matic_df.set_index('date', inplace=True)
print(matic_df.tail())

                  open        high         low       close
date
2022-05-27  0.84400000  0.85500000  0.78900000  0.80400000
2022-05-28  0.80200000  0.83300000  0.79500000  0.82200000
2022-05-29  0.82300000  0.84000000  0.80300000  0.83700000
2022-05-30  0.83700000  0.91800000  0.83100000  0.91300000
2022-05-31  0.91400000  0.93700000  0.90000000  0.93400000

In [103]:
sand = client.get_historical_klines('SANDAUD', '1d', timestamp, limit=1000)
for line in sand:
    del line[5:]
sand_df = pd.DataFrame(sand, columns=['date', 'open', 'high', 'low', 'close'])
sand_df['date'] = sand_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
sand_df.set_index('date', inplace=True)
print(sand_df.tail())

                  open        high         low       close
date
2022-05-27  1.91380000  1.94000000  1.75410000  1.80570000
2022-05-28  1.79950000  1.85680000  1.77610000  1.81660000
2022-05-29  1.82250000  1.83480000  1.74640000  1.82920000
2022-05-30  1.82950000  2.03000000  1.80750000  1.99000000
2022-05-31  1.99520000  2.11640000  1.97720000  2.02190000

In [104]:
mana = client.get_historical_klines('MANAUSDT', '1d', timestamp, limit=1000)
for line in mana:
    del line[5:]
mana_df = pd.DataFrame(mana, columns=['date', 'open', 'high', 'low', 'close'])
mana_df['date'] = mana_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
mana_df.set_index('date', inplace=True)
print(mana_df.tail())

                  open        high         low       close
date
2022-05-27  0.98830000  1.00220000  0.90410000  0.93060000
2022-05-28  0.93030000  0.96970000  0.92370000  0.95570000
2022-05-29  0.95560000  0.97530000  0.91670000  0.97360000
2022-05-30  0.97330000  1.09930000  0.96000000  1.08520000
2022-05-31  1.08500000  1.12910000  1.06110000  1.08560000

In [105]:
algo = client.get_historical_klines('ALGOUSDT', '1d', timestamp, limit=1000)
for line in algo:
    del line[5:]
algo_df = pd.DataFrame(algo, columns=['date', 'open', 'high', 'low', 'close'])
algo_df['date'] = algo_df['date'].apply(lambda ts: dt.datetime.fromtimestamp(ts/1000).date())
algo_df.set_index('date', inplace=True)
print(algo_df.tail())

                  open        high         low       close
date
2022-05-27  0.37940000  0.38470000  0.35550000  0.36060000
2022-05-28  0.36060000  0.37440000  0.35490000  0.36740000
2022-05-29  0.36730000  0.38000000  0.35270000  0.37880000
2022-05-30  0.37890000  0.42380000  0.37630000  0.42010000
2022-05-31  0.42010000  0.42550000  0.40500000  0.41470000

In [106]:
algo_df = algo_df['close']
mana_df = mana_df['close']
sand_df = sand_df['close']
matic_df = matic_df['close']
ada_df = ada_df['close']
sol_df = sol_df['close']
bnb_df = bnb_df['close']
xrp_df = xrp_df['close']
eth_df = eth_df['close']
btc_df = btc_df['close']

In [107]:
all_prices = pd.concat([btc_df, eth_df, xrp_df, bnb_df, sol_df, ada_df, matic_df, sand_df, mana_df, algo_df], axis=1, join="inner")
all_prices

,close,close,close,close,close,close,close,close,close,close
date,,,,,,,,,,
2021-12-03,76880.95000000,6053.03000000,1.32180000,854.10000000,304.42000000,2.23000000,3.26200000,8.62670000,3.90310000,1.74680000
2021-12-04,71377.71000000,5965.77000000,1.22670000,827.80000000,291.83000000,2.06500000,2.86900000,8.80310000,4.11990000,1.64910000
2021-12-05,70677.10000000,6001.06000000,1.15070000,798.40000000,279.51000000,1.97300000,2.92300000,7.72800000,3.68620000,1.76500000
2021-12-06,71800.02000000,6185.37000000,1.17500000,836.70000000,275.23000000,2.02700000,3.24700000,7.84230000,3.76770000,1.76290000
2021-12-07,71190.56000000,6060.44000000,1.14980000,814.60000000,268.03000000,1.94100000,3.30500000,7.51420000,3.81320000,1.68520000
...,...,...,...,...,...,...,...,...,...,...
2022-05-27,39968.24000000,2410.02000000,0.53270000,421.00000000,57.37000000,0.63790000,0.80400000,1.80570000,0.93060000,0.36060000
2022-05-28,40609.29000000,2507.57000000,0.54110000,430.50000000,62.16000000,0.65060000,0.82200000,1.81660000,0.95570000,0.36740000
2022-05-29,41139.43000000,2531.74000000,0.54210000,426.80000000,62.62000000,0.66980000,0.83700000,1.82920000,0.97360000,0.37880000
2022-05-30,44108.49000000,2775.80000000,0.58150000,447.00000000,65.62000000,0.79220000,0.91300000,1.99000000,1.08520000,0.42010000
2022-05-31,44189.38000000,2758.17000000,0.58540000,446.40000000,65.06000000,0.91810000,0.93400000,2.02190000,1.08560000,0.41470000

In [108]:
all_prices = all_prices.set_axis(['BTC', 'ETH', 'XRP','BNB','SOL', 'ADA','MATIC','SAND','MANA', 'ALGO'], axis=1, inplace=False)
all_prices.dropna()

,BTC,ETH,XRP,BNB,SOL,ADA,MATIC,SAND,MANA,ALGO
date,,,,,,,,,,
2021-12-03,76880.95000000,6053.03000000,1.32180000,854.10000000,304.42000000,2.23000000,3.26200000,8.62670000,3.90310000,1.74680000
2021-12-04,71377.71000000,5965.77000000,1.22670000,827.80000000,291.83000000,2.06500000,2.86900000,8.80310000,4.11990000,1.64910000
2021-12-05,70677.10000000,6001.06000000,1.15070000,798.40000000,279.51000000,1.97300000,2.92300000,7.72800000,3.68620000,1.76500000
2021-12-06,71800.02000000,6185.37000000,1.17500000,836.70000000,275.23000000,2.02700000,3.24700000,7.84230000,3.76770000,1.76290000
2021-12-07,71190.56000000,6060.44000000,1.14980000,814.60000000,268.03000000,1.94100000,3.30500000,7.51420000,3.81320000,1.68520000
...,...,...,...,...,...,...,...,...,...,...
2022-05-27,39968.24000000,2410.02000000,0.53270000,421.00000000,57.37000000,0.63790000,0.80400000,1.80570000,0.93060000,0.36060000
2022-05-28,40609.29000000,2507.57000000,0.54110000,430.50000000,62.16000000,0.65060000,0.82200000,1.81660000,0.95570000,0.36740000
2022-05-29,41139.43000000,2531.74000000,0.54210000,426.80000000,62.62000000,0.66980000,0.83700000,1.82920000,0.97360000,0.37880000
2022-05-30,44108.49000000,2775.80000000,0.58150000,447.00000000,65.62000000,0.79220000,0.91300000,1.99000000,1.08520000,0.42010000
2022-05-31,44189.38000000,2758.17000000,0.58540000,446.40000000,65.06000000,0.91810000,0.93400000,2.02190000,1.08560000,0.41470000

In [109]:
# Save as CSV File
all_prices.to_csv('crypto_df.csv')